*
{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#topic-filters {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
}

.topic-button {
    margin: 3px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    border:1px solid black;
    border-radius: 15px
}

.topic-button.active {
    color: white;
    opacity: 0.7;
}

.webgl {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    pointer-events: none;
    display: none;
    z-index: 1000; /* Increased z-index to ensure it's above the canvas */
    max-width: 200px;
    word-wrap: break-word;
}
